ion-content{
  box-sizing: border-box;
}

ion-label{
  display: flex;
  margin-left: 10px;
}

img{
  border-radius: 15%;
}


.titulo{
  font-size: 14pt;
}

ion-item{
  border-bottom: 1px solid #e0ac08;
  border-radius: 0 0 35px 0;
}
