ion-content{
  box-sizing: border-box;
}

ion-label{
  display: flex;
  margin-left: 10px;
}

img{
  border-radius: 15%;
  border: 1px solid black;
}


.titulo{
  font-size: 14pt;
}

ion-item{
  border-radius: 35px 0 35px 0;
  margin-bottom: 10px;
}

ion-badge{
  padding: 12px;
  background: #ffda89;
  color: black;
  margin-right: 5px;
  border-radius: 20px 0 20px 0;
}


.preco{
  border: 1px solid rgb(53, 53, 53);
  padding: 10px;
}

ion-list{
  background: #f3f3f3;
}